[2014-07-28 23:23] itscam opened #35 "Medium: Select photos from Phone: media not organized by album"
After selecting product, choose images from Phone. Images are not organized by the device photo album structure, and are displayed in one group. Photobucket creates a Photobucket album on the device, as do other photo apps.  This would make it easier for users to find their media.

[2014-07-29 17:36] Ckozoh opened #39 "The search bar only allows one letter and redundant magnify glass"
Samsung Galaxy S3 version 4.1.1
Photobucket version 3.3.0

In both the "Change Currency" and "Choose Country" the search bar only allows for 1 letter to be entered. To enter more letters you have to tap back on the search bar and repeat the process

![screenshot_2014-07-29-11-18-41](https://cloud.githubusercontent.com/assets/8116157/3738816/090bebfe-1745-11e4-8c74-a85e1a89b185.png)

I also noticed

[2014-08-18 16:48] Ckozoh opened #61 "Edit mode with multiple photos are laggy and will occasionally crash app"
Samsung Galaxy S3

-Create a product with multiple photos (I choose Canvas wrap w/ 36 photos and Frame prints w/ 24 photos)
-Tap on product in shopping cart
-Tap on edit

Observed:
Photos take a while to populate grid and bottom photo stream. It will also occasionally crash entire app

[2014-08-19 15:56] itscam opened #62 "Low: Flickr source is not organized by album"
Currently the Flickr source displays all images in the account, and they are not organized by album.

[2014-09-10 16:43] Ckozoh opened #69 "Low: Photo select should default back to photobucket if you don't log into another source"
If you tap on instagram for example and then don't log in, the photobucket source will appear but the Instagram source is still highlighted, not allowing you to go into any of the albums until you select photobucket as the main source again. Similar to issue #117 on iOS

![screenshot_2014-09-10-10-36-58](https://cloud.githubusercontent.com/assets/8116157/4221403/8ebd9e9c-3909-11e4-8309-9f0326444eb

[2014-09-10 16:52] Ckozoh opened #70 "Medium: Can we remove this product detail page?"
Can we mimic the iOS style by removing this product detail page and going straight into an edit/save to cart page? We like the functionality of this more.
(iOS)
![photo 2](https://cloud.githubusercontent.com/assets/8116157/4221537/da3e8ba0-390a-11e4-9d0b-7ab874cef87a.PNG)

(Android)
![screenshot_2014-09-10-10-47-49](https://cloud.githubusercontent.com/assets/8116157/4221533/d0756d46-390a-11e4-9f0f

[2014-10-17 21:29] itscam opened #83 "High: Coupon code issues"
- Enter an invalid promo code and tap apply. Warning about invalid code appears, but the code is not automatically removed. Code is attempted on every shopping cart visit until the user removes it.

- Only way to remove the code is to tap into the coupon box and delete it. Can we remove the code when the user taps "Cancel", or add an "x" at the end to clear the field?

- "You saved" pop-up message

[2014-10-17 22:35] itscam opened #85 "High: Coaster quantity issue and Crash when editing Shopping Cart"
Coasters:

- Select 4 different images
- On image quantity and cropping screen, delete an image and save.
- "You have selected 3/4 images" pop-up appears, choose to add more images
- 4 images are still selected. Continue.

Observed: Original batch of images is added to the order again, for a total of 7 images. Save to cart. When you go to edit the order, the app crashes.

Log:

10-17 17:34:09.108

[2014-10-27 22:58] itscam opened #90 "High: Payment verification failed message although the payment was successful, + crash"
Made a payment Paypal. After waiting for about a minute, I received a "Payment verification failed" message. However I checked our Paypal account and the Print.io dashboard and the payment and order were received.

Also, I tapped OK and the app crashed.

Log:
10-27 16:45:50.942    9192-9192/com.photobucket.android E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.photobucket.android, PID: 9

[2014-10-28 17:55] itscam opened #92 "Low: selection box outline covered by thumbnail"
Observed with canvas wrap on the wrap color and layout screen.

![image](https://cloud.githubusercontent.com/assets/8051364/4813772/7529420a-5ecb-11e4-948b-1f8f0474a87f.jpg)

[2014-10-28 19:32] itscam opened #93 "Medium: How-to Edit dialog box shifts"
On the product edit screen, tap on the question mark. Buttons are partially blocked and the entire box moves.

![5secondsapp 11](https://cloud.githubusercontent.com/assets/8051364/4815696/1233bc80-5ed9-11e4-8aba-75ba5e440124.gif)

[2014-10-28 19:38] itscam opened #94 "Request: Find a new location for the "Add more" button on the shopping cart"
If a user has more than three or four products in their shopping cart, you can't see the add more button without scrolling. We want to easily give them the option of buying more products, right? :)

[2014-10-29 06:34] itscam opened #97 "Medium: Select address screen issues"
- Small Edit and Delete buttons when swiping contact.
- If contact has been swiped, the rest of the screen is still active and tappable. If a user taps on any part of the screen outside of the Edit and Delete buttons, the swipe menu should be closed.

![5secondsapp 1](https://cloud.githubusercontent.com/assets/8051364/4821813/68b02a06-5f35-11e4-8b36-098b1500c0cf.gif)
![screenshot_2014-10-29-00-22-

[2014-10-29 06:41] itscam opened #98 "Medium: Shopping cart swipe menu"
With multiple products in shopping cart, swipe to invoke the swipe menu. User is allowed to tap on other objects. If a user taps outside of the swipe menu, the menu should be closed.

[2014-10-29 17:32] Ckozoh opened #100 "Low: Price for item is too long and is using 2 lines"
If you notice the price of the item in the top right corner, once in the triple digits the price is too long and is using 2 lines.

![screenshot_2014-10-29-10-37-16](https://cloud.githubusercontent.com/assets/8116157/4830992/79c3599c-5f91-11e4-9361-d989f8c1147d.png)

[2014-10-31 16:52] Ckozoh opened #103 "High: Photos disappear after tapping on product in shopping cart to edit"
Samsung GS3

I created an acrylic block with 9 photos. After tapping on it in the shopping cart to edit, photos are missing  and asking to recreate the product.

![](http://i1240.photobucket.com/albums/gg494/chkotest2/GIF%20Maker/A4B88F27-1E8A-450D-BF5D-F7098CB635EA_zpswujum6dn.gif)

[2014-10-31 21:02] Ckozoh opened #104 "High: New stickerbooks crash"
I created a stickerbook product with all 252 photos. When I tap on it to edit from the shopping cart I will get a crash that boots me from the shopping cart.

Heres the log:
10-31 14:59:51.686     719-1070/? E/JavaBinder﹕ !!! FAILED BINDER TRANSACTION !!!
10-31 14:59:51.696     719-1070/? W/ActivityManager﹕ Exception when starting activity com.photobucket.android/print.io.ActivityStickerBook
    a

[2014-11-03 21:32] itscam opened #106 "High: New cropping issue"
Observed with 4x6 inch acrylic blocks. Testing other types of products.

- Choose single photo layout.
- Select photo and tap next
- Double tap photo to edit. Crop image, save and save to cart.
- Tap to edit product from shopping cart.

Image has been cropped.

![5secondsapp 14](https://cloud.githubusercontent.com/assets/8051364/4890649/dd06be78-63a0-11e4-8bc8-5b9a61454c7b.gif)

[2014-11-03 22:16] itscam opened #107 "Medium: CC payment screen - Close keyboard after tapping on month/year fields"
After inputting your code in the CVC/CVS field and tapping on the month/year, the numerical keyboard remains open.

[2014-11-04 20:19] itscam opened #108 "Medium: Add USD to United States Dollar when changing currencies"
If a user types "USD" in the currency search bar, there are no results. They have to type "United States Dollar".

Also, can we move the dollar to the top of the list, or give us the option to do so? The vast majority of our buyers will be using the dollar, and while it's set by default, it would be nice to have it at the top just in case.

[2014-11-05 22:07] itscam opened #109 "Low: Change grid view icon"
The current three-stacked lines button is very similar to a hamburger menu button, and doesn't represent the view. Four squares, as it appears on iOS:
![img_1522](https://cloud.githubusercontent.com/assets/8051364/4926989/d570aa8c-6537-11e4-9a23-f3529225b678.PNG)

Android:
![screenshot_2014-11-05-15-03-25](https://cloud.githubusercontent.com/assets/8051364/4926988/d559f47c-6537-11e4-81c3-e31511fe2

[2014-11-07 22:30] Ckozoh opened #110 "High: Getting an odd crash"
Samsung GS3 4.1.1
I have been trying to reproduce a bug in edit, revolving rotation. After doing so it has put me into a weird state in the app where I am crashing after selecting an image for a product.
Here is the log:

11-07 15:29:09.050     714-1081/? W/ActivityManager﹕ mDVFSLock.acquire()
11-07 15:29:09.530    4043-4043/? E/CustomizeProductView﹕ populateAllSubimages() subimage.photoData is nu

[2014-11-07 22:45] Ckozoh opened #111 "Medium: Rotating in edit issue"
Samsung GS3 4.1.1

While trying to rotate a photo in edit, it will be resized and once returned to the original position, the image is cropped.

![](http://i1240.photobucket.com/albums/gg494/chkotest2/GIF%20Maker/AC297440-E4E6-44FE-9B8C-46719B63A198_zpsytdb3wlf.gif)

[2014-11-07 23:06] shanestaples opened #112 "Medium: Shopping cart icon being scaled on Actionbar"
![carts](https://cloud.githubusercontent.com/assets/2048656/4961731/593af6a6-66d2-11e4-9007-ee6160678df8.jpg)

Above shows the size of the shopping cart icon cut from a screenshot rendered on an HTC One (4.7" 1080p display) on the left, with the size of the actual image asset on the right.  This icon is being rendered scaled down.

[2014-11-20 20:42] itscam opened #114 "Medium: Shopping cart badge position"
In the newest build, the badge is in the middle of the shopping cart.

![screenshot_2014-11-20-13-39-55](https://cloud.githubusercontent.com/assets/8051364/5132549/ed39287c-70ba-11e4-83fc-1462cce0b30d.png)

[2014-12-09 23:51] itscam opened #115 "Low: Phone cases - Display Android cases first"
If a user is ordering a phone case, odds are they want to buy a case for their device. An Android user was confused when the first several products displayed were iPhone cases.

[2015-01-05 22:10] itscam opened #116 "High: When choosing a new shipping-to country, defaults to Afghanistan"
Newest SDK version.

Tap on the Shipping To dropdown, pop-up appears asking user if they want to ship to Afghanistan. Also, along the same lines of the currency screen, could we add the United States to the top of the country list?

![5secondsapp 17](https://cloud.githubusercontent.com/assets/8051364/5620821/b07bfa80-94ec-11e4-9e0b-ed84238d9630.gif)

[2015-01-05 22:11] itscam commented on #108
Fix verified.

[2015-01-05 22:13] itscam commented on #114
@bomberaya Any update for the menu shopping cart?

[2015-01-05 22:14] itscam commented on #111
@bomberaya I believe this is fixed. Not seeing it now.

[2015-01-05 22:18] itscam commented on #109
Fix verified.

[2015-01-05 22:27] itscam commented on #106
@bomberaya Appears to be fixed.

[2015-01-05 22:32] itscam commented on #114
Also seeing this on the save-to-cart button...

![screenshot_2015-01-05-15-29-04](https://cloud.githubusercontent.com/assets/8051364/5621164/0b56dd14-94f0-11e4-8ddf-a18448e9f90c.png)

[2015-01-07 10:46] vladgets commented on #116
When I put in my project the code in the mainActivity:  PIO.start(this, null);
It just returns and nothing happens.
Could you explain me why could it happen and what I do wrong?

[2015-01-07 10:47] vladgets commented on #115
When I put in my project the code in the mainActivity:  PIO.start(this, null);
It just returns and nothing happens.
Could you explain me why could it happen and what I do wrong?

[2015-01-07 18:26] itscam commented on #83
Fixes verified. Thank you.

[2015-01-08 06:20] vladgets opened #117 "Widget does not work"
When I put in my project the code in the mainActivity: PIO.start(this, null);
It just returns and nothing happens.
Could you explain me why could it happen and what I do wrong?

[2015-01-09 13:42] bomberaya commented on #117
Have you included the required code listed here?
https://github.com/printdotio/printio-android-sdk/blob/master/README.md#printio-quick-start

[2015-01-12 09:26] vladgets commented on #117
Yes. It took me some effort making it to compile. I had to change some configuration, since I use Android studio and not Eclipse and latest SDK and building tools. So, I included this module and succeeded it to build. But then when I call to the command: PIO.start(this, null);
from my main activity, nothing is launched.

[2015-01-12 13:32] bomberaya commented on #117
Take a look at logcat. Are there any error/debug messages or exceptions thrown?

[2015-01-13 07:32] vladgets commented on #117
My question, should I keep AndroidManifest.xml inside of the printSDK module in addition to my project AndroidManifest.xml file? Because there is defined an additional app: PIO.

When I keep this additional Manifest file, I get an error message:
  java.lang.RuntimeException: Unable to instantiate application print.io.PIO: java.lang.ClassCastException: print.io.PIO cannot be cast to android.app.App

[2015-01-13 08:54] vladopajic commented on #116
@itscam Fixed, please verify.

[2015-01-14 18:47] itscam opened #118 "Medium: User prompted to choose a shipping country when SDK is first opened"
I believe this is a new issue. Can we detect where the user is located to avoid this step?

![5secondsapp 1](https://cloud.githubusercontent.com/assets/8051364/5745044/1d35648e-9be3-11e4-923d-970814b875be.gif)

[2015-01-15 12:28] vladopajic commented on #118
@itscam Yes, it will be available in newest release.

[2015-01-15 17:27] barnbucket commented on #118
Is this new? Before we upgraded to the newer version this was set automatically. Now we are getting the unnecessary screen.

If this is a new change please point us to the documentation on how to change it.

[2015-01-15 17:56] barnbucket commented on #118
https://github.com/printdotio/printio-android-sdk/blob/develop/NEW-DOCS-WIP.md#country-currency-and-language

There is a way to set the default country code, but by setting PIO.setCountryOnFeaturedProducts(true); this should automatically default to us

Ours is no longer automatically defaulting to US.

[2015-01-21 16:11] barnbucket opened #119 "High: Crash in production java.lang.NullPointerException"
Our app is logging a crash in our production app. It is our highest occurring crash right now. We updated our SDK on Dec 23rd.

java.lang.NullPointerException
at print.io.ActivityCountry$6.run(Unknown Source)
at java.lang.Thread.run(Thread.java:841)

[2015-01-21 22:06] bomberaya commented on #118
@barnbucket This will be fixed in the next version of the SDK. It is possible that it has already been fixed, but I'm delaying the next version because of another issue that we are currently working on. A new version will be available at the end of January, at the latest.

[2015-02-18 23:32] itscam opened #120 "High: Error uploading product photos for high-image count products"
We are receiving the following error when attempting to pay for a minibook/tinybook product. We have tried a combination of different sources including Facebook, Instagram and Photobucket. ![screenshot_2015-02-18-16-16-49](https://cloud.githubusercontent.com/assets/8051364/6258912/22bb45aa-b78a-11e4-9bf3-e929ca8c711f.png)

When uploading from the phone source I get stuck on a loading screen.

![sc

[2015-02-19 21:53] AustenB commented on #119
@bomberaya what is the update on this one?

[2015-02-24 13:39] mkontic opened #121 "Shower curtain images problem"
Orders 136597 and 134234.
Images aren't generated right. Please see product preview vs. how shower curtain image was generated!

![preview](https://cloud.githubusercontent.com/assets/10849553/6350272/a56d7ed0-bc32-11e4-8053-4e2dfc7ee0b0.jpg)

@bomberaya @Ivan1985 @AustenB

[2015-02-24 13:49] mkontic commented on #121
Also order 122280.

[2015-02-24 15:11] AustenB commented on #121
This is priority
On Feb 24, 2015 8:39 AM, "mkontic" <notifications@github.com> wrote:

[2015-02-24 15:22] bomberaya commented on #121
@AustenB @mkontic OK guys, I checked this out, this order was made using android v114, which is an old version of the SDK.
This bug has been fixed since, but it will still appear from time to time because some users might not update their apps.

[2015-02-24 15:22] #121 closed

[2015-02-24 15:28] AustenB commented on #121
What is our latest app update?

We can also force users to update app?

When are we doing a master push to repo?

On Tue, Feb 24, 2015 at 10:22 AM, bomberaya <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-02-24 15:34] bomberaya commented on #121
v114 is the last update. We have one more bug to fix before we do the update, I'm working on it. I will try to push the update ASAP.

We can't explicitly force users to update the app. Maybe we could try sending push notifications telling them to update?

Same answer as the first question, as soon as we fix this bug, and I hope real soon.

[2015-02-24 15:35] AustenB commented on #121
But they are using the latest.

Are you sure its fixed in the newest? You have to have ivan/milos test
shower curtains etc.

On Tue, Feb 24, 2015 at 10:34 AM, bomberaya <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-02-24 15:37] bomberaya commented on #121
Yes, they are, but it's been a while since we updated it and it's crying for an update.

We haven't seen this bug in a long time so I'm pretty sure it's fixed in v116.

[2015-02-24 15:54] Ivan1985 commented on #121
@AustenB @bomberaya @mkontic I've already tested it and works good. I agree with @bomberaya, that was an old issue.

[2015-02-24 15:56] AustenB commented on #121
Ok from now on we use branches for everything.

We need to release new versions with bug fixes every two weeks.

On Tue, Feb 24, 2015 at 10:54 AM, Ivan Ignjatovic <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-02-24 15:57] mkontic commented on #121
@AustenB @Ivan1985 @bomberaya So basically, I can tell the customer to update the app and it should be fine?

[2015-02-24 15:59] bomberaya commented on #121
@AustenB I agree

@mkontic No, unfortunately. I think they will need to create the order again. I'm not sure if you are able to manually correct the imgmanip string on server...

[2015-02-24 16:00] mkontic commented on #121
@bomberaya No, I get that this order needs fixing on our end, but for theirs next purchases, it will be enough just to update the app, right?

[2015-02-24 16:01] bomberaya commented on #121
@mkontic When we publish the new version, yes. Currently there is no newer version to update to.

[2015-02-24 16:05] mkontic commented on #121
@bomberaya Thanks, that's the answer I was looking for!

[2015-02-24 16:06] bomberaya commented on #121
@mkontic Anytime :)

[2015-03-05 21:55] AustenB commented on #119
@bomberaya did this one get fixed?

[2015-03-09 15:07] bomberaya commented on #100
@Ckozoh The price has been removed from the top bar in v2.0.3, so this is fixed.

[2015-03-09 15:07] #100 closed

[2015-03-09 15:07] bomberaya commented on #120
@itscam Fixed in 2.0.3

[2015-03-09 15:08] bomberaya commented on #119
@AustenB @barnbucket Fixed in 2.0.3

[2015-03-09 15:12] AustenB commented on #100
What about for phone case product?

On Mon, Mar 9, 2015 at 11:07 AM, bomberaya <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-03-09 15:14] bomberaya commented on #100
@AustenB It was removed from iOS version, so we removed it from Android too.

[2015-03-10 22:41] #83 closed

[2015-03-10 22:44] vladopajic commented on #92
@itscam Fixed in 2.0.3

[2015-03-10 22:47] #108 closed

[2015-03-11 08:06] #70 closed

[2015-03-11 11:08] #104 closed

[2015-03-11 11:08] #109 closed

[2015-03-11 11:17] bomberaya commented on #117
@vladgets Please try integrating the latest version

[2015-03-11 11:23] bomberaya commented on #118
@barnbucket Fixed in 2.0.4, please verify

[2015-03-23 19:54] itscam opened #122 "Medium: Images not rotated correctly for Samsung devices"
Tested with a GS3 and GS5. Not an issue on Nexus 5 and other LG devices.

- Take landscape and portrait photos from all angles
- Create a product and select those photos

Notice that the thumbnail images have not been correctly rotated. Images will display this way in the collage preview. This is also an issue on HelloPics.

![screenshot_2015-03-23-13-52-13](https://cloud.githubusercontent.com/ass

[2015-03-24 00:03] itscam opened #123 "Medium: Shipping address auto-complete issue"
All devices, newest SDK version on production

- Start typing your shipping address in the street form.
- Tap on desired selection

Street address is not fully entered. Number added, but not the street name.

![5secondsapp 15](https://cloud.githubusercontent.com/assets/8051364/6793180/ba76cac0-d186-11e4-99e4-71abe5006ba4.gif)

[2015-03-24 00:22] itscam opened #124 "Low/Medium: Shopping cart badge positioning"
All devices, newest sdk version, on production.

For some products, such as prints, thick prints, stickerbooks, tinybooks, minibooks, coasters, and magnetgrams, the shopping cart on the image quality and cropping screen doesn't match the standard shopping cart.

Also, the sidebar menu shopping cart doesn't match either.

![screenshot_2015-03-23-18-20-33](https://cloud.githubusercontent.com/assets/

[2015-03-24 23:12] bomberaya commented on #123
@itscam Fixed: 2.1.0

[2015-03-25 22:07] itscam opened #125 "Medium: Choose options screen is broken for some products"
Nexus 5 and GS5, newest SDK build. On production.

Some items have been shifted toward the bottom of the screen. I have noticed this for framed prints, canvas wraps and metal prints.

![screenshot_2015-03-25-15-51-44](https://cloud.githubusercontent.com/assets/8051364/6836482/0aab1db6-d308-11e4-81ad-239dad0a9f54.png)

[2015-03-25 22:11] AustenB commented on #125
THe shift down was on-purpose --> clearly the price being that far down on
the page was not. It shouldn't have the price above the couch.

On Wed, Mar 25, 2015 at 6:07 PM, Cameron Bradley <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-03-25 22:12] bomberaya commented on #125
@itscam This was done intentionally. The idea is to display the prints/canvases above the couch, so that the user gets the idea of their relative size. Although the second item on your screenshot (14x16 inch Frame) obviously doesn't stand where it should be...
Could you attach the same screenshot but with the following phone setting enabled:
Settings -> Developer Options -> Advanced -> Show layout

[2015-03-25 22:13] bomberaya commented on #125
Btw the price over couch looks cool to me

[2015-03-25 22:19] itscam commented on #125
Canvas wraps. You can see the product image is not a transparent png. Price is not visible.

![screenshot_2015-03-25-15-51-44](https://cloud.githubusercontent.com/assets/8051364/6836710/53150254-d30a-11e4-9453-db31ee45542b.png)

[2015-03-25 22:22] bomberaya commented on #125
@itscam Price not visible issue is already fixed and will be pushed in the next release

[2015-03-25 22:23] bomberaya commented on #125
@itscam I agree, those images should be fixed on serverside.

[2015-03-25 22:26] itscam commented on #125
@bomberaya
![screenshot_2015-03-25-16-24-33](https://cloud.githubusercontent.com/assets/8051364/6836844/9e157e5e-d30b-11e4-9a14-7563b24fdc83.png)

[2015-03-25 22:27] itscam commented on #125
@bomberaya That alternates every product. One is set on the couch, the next over the couch, and so on.

[2015-03-25 22:32] itscam commented on #125
![5secondsapp 16](https://cloud.githubusercontent.com/assets/8051364/6836924/75e1cdf6-d30c-11e4-9e63-2dcd1845c03b.gif)

[2015-03-25 22:38] AustenB commented on #125
We can update the assets to fix it -- im surprised they weren't jagged in
the old version in live

On Wed, Mar 25, 2015 at 6:32 PM, Cameron Bradley <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-03-25 22:54] bomberaya commented on #125
@itscam I think I know what is the issue.
The square images (for example 14x14 inch) are 280x280px
and rectangle images (14x16 inch) are 370x280px.
I am scaling the images to same widths, so they end up having different heights.
I can fix this on client side, but the strange thing is that everything looks fine on our devices (tested on Nexus 5, Galaxy S4 and HTC One M8)

This is the screenshot fro

[2015-03-25 22:59] bomberaya commented on #125
@itscam @AustenB I will mark this as a bug (non-uniform image heights).

Regarding image (non)transparency issue, images need to be updated on server.

[2015-03-26 15:14] AustenB commented on #122
@itscam is this the default way they are saved on the phone? if so than how would we be able to fix/modify it?

[2015-03-27 14:39] bomberaya commented on #124
@itscam These are the screenshots from my phone, using your shopping cart icon.
Are you doing something differently?
I made the following adjustments to following xml files:

`res/values/dimens.xml`
[code]

`res/values-sw330dp/dimens.xml`
[code]
![screenshot_2015-03-26-19-23-49](https://cloud.githubusercontent.com/assets/3813595/6853938/5568d168-d3ee-11e4-8a32-585313b5f3ba.png)
![screenshot_2015-0

[2015-03-27 14:39] #117 closed

[2015-03-27 18:43] bomberaya commented on #125
@itscam Fixed: v2.1.2

[2015-03-29 09:35] tamaratomovski opened #126 "Missing images for Minibook (Photobucket)"
We have a PB order for a minibook whose images didn't generate well. Namely, from the 60th picture until the end there are no images, it's blank and when I open manipulation command there is no link to the image.

Could you please look into this?

Thank you!

@AustenB  @Ivan1985  @bomberaya

Order: https://admin-v2.print.io/Home#/orders/154369/images

Item: 393982

![minibk](https://cloud.githubus

[2015-03-30 12:34] mkontic opened #127 "High: One item number for multiple photos"
Customer uploaded 171 images for print glossy 4x4, but they generated as one single item (Item 382991). However, we can see all of the images on our end, but it appears they were sent to our vendor as one item and they received only first image. Customer got one image in 171 copies.

We've never received orders like this - every image always has different item number.

Same goes for Item 382993.

[2015-03-30 15:25] bomberaya commented on #127
@mkontic, can you please give me an example of a similar order (made from Android app) that worked fine (same product but older order)? I need it to check something. Thanks!

[2015-03-30 15:52] mkontic commented on #127
@bomberaya I searched literally every HP orders with prints (District Photo vendor) and I couldn't find a single one placed via android app.

[2015-03-30 15:56] bomberaya commented on #127
@mkontic Can you find any order with any of the following products (regardless of vendor) placed via Android app:
minibooks, tinybooks, metal magnets, stickerbooks, thick prints, magnetgram?

[2015-03-30 16:03] mkontic commented on #127
@bomberaya Here's a few:

https://admin-v2.print.io/Home#/orders/99411/summary
https://admin-v2.print.io/Home#/orders/96197/summary
https://admin-v2.print.io/Home#/orders/90593/summary
https://admin-v2.print.io/Home#/orders/90073/summary
https://admin-v2.print.io/Home#/orders/33513/summary
https://admin-v2.print.io/Home#/orders/33468/summary
https://admin-v2.print.io/Home#/orders/33213/summary

[2015-03-30 17:16] bomberaya commented on #127
@mkontic Bug confirmed - We are not uploading Prints properly (probably Professional prints too). I'm working on it.

[2015-04-01 17:15] itscam commented on #124
@bomberaya

![screenshot_2015-04-01-11-08-49](https://cloud.githubusercontent.com/assets/8051364/6946791/fa132860-d85f-11e4-86cd-48f97339c86c.png)

![screenshot_2015-04-01-11-09-09](https://cloud.githubusercontent.com/assets/8051364/6946790/fa12f322-d85f-11e4-9ae8-a6037d68dd33.png)

[2015-04-01 23:05] itscam commented on #125
@bomberaya @AustenB I suppose it could be an issue with the font we are using, but the price is displayed on the couch on the Nexus 5(1080p, a5.1) and Moto G(720p, a4.4.4). However, this does look good on other devices, including the GS3 and GS5.

Nexus 5
![screenshot_2015-04-01-16-33-10](https://cloud.githubusercontent.com/assets/8051364/6954603/caa49c40-d890-11e4-8550-0ad529644be4.png)

[2015-04-01 23:51] itscam commented on #123
Fix verified.

[2015-04-01 23:51] #123 closed

[2015-04-01 23:55] itscam commented on #118
Fix verified.

[2015-04-01 23:55] #118 closed

[2015-04-01 23:58] itscam commented on #116
Fix verified.

[2015-04-01 23:58] #116 closed

[2015-04-02 00:12] itscam commented on #107
Fix verified.

[2015-04-02 00:12] #107 closed

[2015-04-02 00:13] itscam commented on #120
Fix verified.

[2015-04-02 00:13] #120 closed

[2015-04-02 11:07] bomberaya commented on #126
This is a duplicate of #120 which has been fixed in v2.0.3

[2015-04-02 11:07] #126 closed

[2015-04-02 15:19] bomberaya commented on #61
@Ckozoh Image downloading speed is limited by your Internet connection, and there is a limit on number of simultaneous downloads (n - 1; n -> number of cores on device's CPU).
We could try increasing this limit and see how well it performs.
Let's close this issue for now and open a separate issue if this is still a problem.

[2015-04-02 15:19] #61 closed

[2015-04-02 21:16] bomberaya commented on #127
@mkontic Fixed: v2.1.4

[2015-04-03 03:36] itscam opened #128 "Medium/High: Our phone case promo shows an error when loading product details"
Newest sdk, all devices.

Our phone case promo stopped working with the newest sdk versions. Did the product ID for phone cases change?

Also, can we change the message for errors like these?

![screenshot_2015-04-02-21-03-49](https://cloud.githubusercontent.com/assets/8051364/6977689/14372716-d980-11e4-8811-b30e01f90100.png)

[2015-04-03 04:16] AustenB commented on #128
Can you provide more details?

How did this used to work? What step did you see this on?

This screen typically means problem connecting to server.
On Apr 2, 2015 11:37 PM, "Cameron Bradley" <notifications@github.com> wrote:

[2015-04-03 21:58] AustenB commented on #124
@itscam let us know if the emailed solution fixed it

[2015-04-04 00:40] itscam commented on #128
@AustenB @bomberaya We have a hard-coded promo on our home screen. After tapping on this, the print sdk opens to the phone case product. The newer SDK versions do not open to the phone case product, but instead show the error.

![screenshot_2015-04-03-16-04-53](https://cloud.githubusercontent.com/assets/8051364/6990734/95e3b530-da30-11e4-9f1f-fa7399b1ba0a.png)

[2015-04-04 00:52] AustenB commented on #128
Got it. Send the code that we launch from that promo if you can.

Thank you will get it fixed asap
On Apr 3, 2015 8:40 PM, "Cameron Bradley" <notifications@github.com> wrote:

[2015-04-06 16:49] wrightcode commented on #128
The code to launch the PrintShop fragment has already been sent to Bojan.  It's launched via an intent with these variables:

Promo code "CALLME50"

and the product id PublicConstants.ProductIds.PHONE_CASES

With the latest apk, you should be able to click on the promo banner (in Cam's screen shot above) and test.

What other specific information do you need?

[2015-04-07 19:28] bomberaya commented on #128
@wrightcode We cannot reproduce this, I tried using your initialization code with your live RECIPE_ID.

Can you try using ```PIOConfig.setProductIdFromApp()``` and ```PIOConfig.setPromoCode()``` separately?
Do they work as expected?

Can you try logging the ProductID that you are passing to ```PIOConfig.setProductIdFromApp()```?

[2015-04-07 20:32] wrightcode commented on #128
The value we're using to set the productIdFromApp() is:

PublicConstants.ProductIds.PHONE_CASES

And when I debug this, it looks like this value is 0.

Can you check the value of this variable and see if it's changed?  It looks like it use to be > 0.

[2015-04-07 20:34] AustenB commented on #128
product id for phone cases should be: 57

On Tue, Apr 7, 2015 at 4:32 PM, Jay Wright <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-07 20:36] wrightcode commented on #128
Thanks, that's consistent with what we're seeing in our production app.  But since pulling the latest print io tag, that value is now 0.

@bomberaya could the value in print.io.PublicConstants.ProductIds.PHONE_CASES have changed?

[2015-04-07 20:37] AustenB commented on #128
Jay:

You should pull product id's from our API if possible.

Best,

Austen

On Tue, Apr 7, 2015 at 4:36 PM, Jay Wright <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-07 20:38] bomberaya commented on #128
@wrightcode These "Constants" are not really constants. They are initialized at runtime based on staging/live setting in SDK. This initialization method is called inside ```PIOConfig.setLiveApplication()``` method. The initialization seems to be failing for some reason. Could be related to ProGuard. I will investigate.

[2015-04-07 20:45] bomberaya commented on #128
@wrightcode Do you perform any additional ProGuard obfuscation on your test builds?

[2015-04-07 20:46] wrightcode commented on #128
@bomberaya Thanks.  It looks like we use to call PIO.setLiveApplication() in our Application object, but now it's been moved to the same fragment where we launch Print IO.  Could it not initialize quickly enough.

[2015-04-07 20:47] wrightcode commented on #128
@bomberaya We're not doing any additional ProGaurd obfuscation.

[2015-04-07 20:49] bomberaya commented on #128
@wrightcode Not initializing quickly enough is out of question since the method is synchronous (and I guess you are not doing the initialization in a separate thread)

[2015-04-07 20:53] wrightcode commented on #128
@bomberaya Okay, cool.  You're right, we're not doing anything special with threads.  Glad to hear its synchronous.

[2015-04-07 20:54] bomberaya commented on #128
@wrightcode I will try to figure out why the values become 0

[2015-04-07 21:09] bomberaya commented on #128
@wrightcode Can you check the logs and see if there is a line that says: "PIO config restored: (successfully/unsuccessfully)"?

[2015-04-07 21:11] wrightcode commented on #128
@bomberaya I see these:
04-07 15:11:14.534  29678-29678/com.photobucket.android D/PictureApp﹕ [PIO] PIO config stored: successfully
04-07 15:11:14.554  29678-29678/com.photobucket.android D/PictureApp﹕ [PIO] PIO SDK is starting...

[2015-04-07 21:13] wrightcode commented on #128
@bomberaya and I see some warnings about some print io related files it cannot find.

[2015-04-07 21:15] bomberaya commented on #128
@wrightcode The log entries are ok. If you are on a "clean" installation (or shopping cart is empty) and you get a warning that the shopping cart file does not exist, that is also ok.

[2015-04-07 21:15] wrightcode commented on #128
@bomberaya But I don't see 'restored', only 'stored'.

[2015-04-07 21:16] wrightcode commented on #128
@bomberaya Okay, good to know.  Yes, we're running a clean installation each time we test this bug.

[2015-04-07 21:36] bomberaya commented on #128
@wrightcode I will add the following statement at the end of `initProductIds()` method:
[code]

I picked Acrylic Prints as an example because it has different IDs on staging and live.
This way we will be able to tell if the product id is 0 or corresponding staging/live value.
I can send you an unofficial PIO jar with this modification.
I'm trying to figure out where exactly the values become zero.

[2015-04-07 21:41] wrightcode commented on #128
@bomberaya Yeah, send me the jar and I'll let you know what the value is.  Just so you know we're using the live server, not staging for our tests.

[2015-04-08 21:56] wrightcode commented on #128
@bomberaya So I think I know what's going on.

Our PrintFragment instantiates the PIOConfig, which in turn calls initProductIds, which is fine.

However, we start that fragment with an intent and one of the extras in that intent is PublicConstants.ProductIds.PRODUCT_CASES.

So we're accessing that "constant" before PIOConfig is initialized.

PIOConfig isn't a singleton, right?
Do I need to initial

[2015-04-09 12:33] vladopajic commented on #128
@wrightcode Hay, you got it all right. :)

PIOConfig is not singleton. Intention of introducing PIOConfig was to isolate entire PIO SDK configuration in non-singleton object rather then holding it in static fields of PIO class which holds other SDK mechanisms.

Yes, it is an overhead to do that just to populate public ids, but that's what you'll need to do for now. In next release, we will replace

[2015-04-09 15:16] wrightcode commented on #128
Great, will that be in PIO SDK v2.1.8?

[2015-04-09 15:17] bomberaya commented on #128
@wrightcode I think so, let's set v2.1.8 as a milestone for this

[2015-04-10 14:53] bomberaya commented on #119
@barnbucket any updates on this? :)

[2015-04-10 15:19] bomberaya commented on #128
@wrightcode We switched from using raw ProductIDs to enums. Please check out the MIGRATION_GUIDE document for info on how to upgrade from v2.x to v2.1.8.

This should prevent similar issues from happening in the future.

[2015-04-10 17:09] wrightcode commented on #128
@bomberaya Is ProductType serializable / parcelable?  I need to pass these values as an intent extra.  Also, is there a ProductType enum value for NONE or UNSPECIFIED?

[2015-04-10 17:14] itscam opened #129 "Low/Medium: Choose options selection box not perfectly aligned"
All devices, newest versions of the SDK.

Choose options selection box for products such as framed prints, canvas wraps and metal prints is not aligned with the product.

Notice how the selection box runs off the screen for the 4 photos layout:
![screenshot_2015-04-10-10-44-55](https://cloud.githubusercontent.com/assets/8051364/7092908/5dc329c8-df72-11e4-8168-c674838b7938.png)

Not aligned for the

[2015-04-10 17:40] vladopajic commented on #129
@itscam Fixed in 2.1.8, please verify.

[2015-04-10 17:57] vladopajic commented on #128
@wrightcode ProductType is serializable / parcelable.
Howerver, there is no NONE nor UNSPECIFIED values in this enum, as purpose of this enum is to hold values of all product types. You will have to deal with unspecified product on your side on your own (probably you should pass null as intent extra).

[2015-04-10 18:27] vladopajic commented on #69
Fixed in 2.1.9, please verify.

[2015-04-10 18:28] vladopajic commented on #62
Fixed in 2.1.9, please verify.

[2015-04-11 22:30] itscam opened #130 "High: Display issues on customize preview screen with newest sdk build"
GS5 and Moto G, SDK version 2.1.8 on production

Issue appears to affect framed prints, canvas wraps and metal prints

- Select framed prints, 14x14, single image
- Choose image from phone or Photobucket source and tap next

Observed: Image is not added to the preview. Sometimes the preview design shows a rectangular image, when the selected product should be a square.

With some products, such as

[2015-04-11 22:45] itscam commented on #130
@bomberaya @AustenB Sometimes when editing a product, the preview loads correctly.

![5secondsapp](https://cloud.githubusercontent.com/assets/8051364/7103562/07570426-e06a-11e4-9b3c-0e4f511220c3.gif)

[2015-04-11 22:49] AustenB commented on #130
Does it always happen from editing an item already in the cart?
On Apr 11, 2015 6:45 PM, "Cameron Bradley" <notifications@github.com> wrote:

[2015-04-11 22:50] itscam commented on #129
@vladopajic Selection box on the far right no longer runs off the screen, but the other boxes touch product images.

![screenshot_2015-04-11-14-58-12](https://cloud.githubusercontent.com/assets/8051364/7103571/6c1ed230-e06a-11e4-995c-bfb73374edc5.png)
![screenshot_2015-04-11-15-40-44](https://cloud.githubusercontent.com/assets/8051364/7103572/6c24d662-e06a-11e4-969f-ba3d6defc125.png)

[2015-04-11 23:01] AustenB commented on #129
Also the text must be centered under the item.

On Sat, Apr 11, 2015 at 6:50 PM, Cameron Bradley <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-11 23:12] itscam commented on #130
@AustenB No.

[2015-04-13 14:11] tamaratomovski opened #131 "PB customer cannot apply a coupon for a tote bag"
We have a PB customer who cannot apply the coupon TOTE45, it says that the coupon cannot be applied to the item in the cart which is a tote bag.

The customer is using the app for their android phone, version is 3.3.5 and the phone is HTC One.

Please let me know if you need any further information!

@bomberaya  @ivan @AustenB

![screenshot_2015-04-13-09-42-25](https://cloud.githubusercontent.com/

[2015-04-13 14:12] AustenB commented on #131
The everything bag isn't a tote bag.

Tote bags are their own item.
On Apr 13, 2015 10:11 AM, "tamaratomovski" <notifications@github.com> wrote:

[2015-04-13 14:36] barnbucket commented on #131
I just checked in the admin panel and Everything bag is added as an eligible product for tote45.  @AustenB We renamed the everything bag.

[2015-04-13 14:51] AustenB commented on #131
@barnbucket - perhaps the renaming caused the error?

We will look into it.

On Mon, Apr 13, 2015 at 10:36 AM, barnbucket <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-13 17:21] wrightcode commented on #128
Is there a way to get the proper ProductType from an integer productId value?

For example, if we're using productId 102 in a marketing campaign, I need a reliable way for ProductType to return me the proper ProductType (MAGNETS, for example).

Maybe this functionality already exists.

[2015-04-13 17:45] wrightcode commented on #128
And can someone confirm which ProductType has productId 102?  (We're running a promo on magnets)

[2015-04-13 17:47] AustenB commented on #128
This product is called Magnetgram

Product Category Photo Gifts
Is that what you mean? How is ProductType Used in SDK?

On Mon, Apr 13, 2015 at 1:45 PM, Jay Wright <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-13 17:49] wrightcode commented on #128
Magnetgram is the answer I'm looking for in the second question, thank you.

ProductType is a new Enum class in the SDK so hopefully @bomberaya or @vladopajic can address the technical aspect of my first question.

[2015-04-13 17:50] AustenB commented on #128
Jay.

This is all accessible in our admin panel as well as via our API.

Katie and Shawna can create a user account for you -> this should make
things even easier :)

Austen

On Mon, Apr 13, 2015 at 1:49 PM, Jay Wright <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-14 10:37] vladopajic commented on #128
@wrightcode Hey :)

ProductType enum values have two methods which return live or staging ID of the product (getLiveId() and getStagingId() respectively). You should use them to check actual value of product ID.

We currently do not have any method which will return ProductType for corresponding integer product ID. For not you will have to do it on your own using above way of getting actual values

[2015-04-14 13:44] #106 closed

[2015-04-14 13:54] AustenB commented on #128
You can use our public api for it
On Apr 14, 2015 6:37 AM, "Vlado Pajić" <notifications@github.com> wrote:

[2015-04-14 14:45] wrightcode commented on #128
@vladopajic @bomberaya I can certainly iterate the Enum and use those values, but if you wanted to encapsulate it in the ProductType enum, that'd be cool.  I was thinking something like:

[code]

But for now I'll write our own util function for that.

[2015-04-14 14:47] bomberaya commented on #128
@wrightcode We will definitely add a helper method for that :+1:

[2015-04-14 15:11] AustenB opened #132 "Method to get product enum from product ID"

[2015-04-14 15:12] bomberaya commented on #128
@wrightcode Created new ticket #132

[2015-04-14 15:19] wrightcode commented on #128
@bomberaya excellent thanks!  appreciate it.

[2015-04-14 15:20] bomberaya commented on #128
@wrightcode Has this one been fixed? Can we close ticket 128?

[2015-04-14 15:57] vladopajic commented on #132
Fixed in v2.1.9.

[2015-04-14 16:57] wrightcode commented on #128
@itscam  i believe this one is fixed.

[2015-04-14 17:04] bomberaya commented on #128
@wrightcode Thanks! Closing :)

[2015-04-14 17:04] #128 closed

[2015-04-15 00:30] itscam opened #133 "Medium enhancement: External promo code is not automatically applied"
On iOS, promo codes that we display and pass through to the SDK are automatically applied when the product is added to the cart. On Android, the code is automatically entered but not applied. The user must tap on the promo code box and then tap apply.

[2015-04-15 15:25] tamaratomovski commented on #131
Hey guys, I just wanted to follow up on this!

Thanks!

[2015-04-16 15:07] AustenB commented on #131
@tamaratomovski @barnbucket

I checked in admin and the everythingbag isn't added for this coupon

![image](https://cloud.githubusercontent.com/assets/7385040/7183991/b922348e-e428-11e4-824c-fef036ad2b3a.png)

[2015-04-16 15:08] AustenB commented on #131
@barnbucket I just added it now - As you see on the 2nd line. So lets confirm that it works now in live

![image](https://cloud.githubusercontent.com/assets/7385040/7184030/f9748fe6-e428-11e4-8969-0f70953546d5.png)

[2015-04-16 20:53] AustenB commented on #133
@itscam getting this enhancement done

[2015-04-17 11:53] KuchelD opened #134 "Activity_phone_case_grid layout is used for multiple products (not just phones)"
On Android (not tested on iOS) the activity_phone_case_grid (Choose Options) layout appears to be used for multiple products such as Fleece Blankets,  Everything Bags, Mousepads etc.

The problem is there is background image of a mobile phone loaded as a placeholder image in the grid view in code not in the layout.  This occurs in the Step 1 and Step 2.

I recommend either loading a generic placeh

[2015-04-17 12:01] KuchelD opened #135 "Metric vs imperiel"

[2015-04-17 12:24] KuchelD opened #136 "Metric and imperial measurement display issue"
When testing in Australia or Germany I can for example add a Canvas Wrap with black size 30cm x 30cm but when viewing the item in the Shopping cart the SKU displayed is CanvsWrp-BlkWrp-12x12 ie 12 inches x 12 inches rather than 30 cm x 30 cm.

This is confusing for the customer when the sizing in the SKU description is different to size selected.

Perhaps it would be better to display to the user

[2015-04-17 12:50] #135 closed

[2015-04-17 13:27] vladopajic commented on #133
@itscam Fixed in 2.1.9, please verify.

[2015-04-17 15:05] AustenB commented on #136
@KuchelD good idea -> we could change this across web, iOS, and Android.

[2015-04-17 16:17] vladopajic commented on #115
Fixed in 2.1.9.

[2015-04-17 17:06] bomberaya commented on #130
@itscam Fixed in v2.1.9, please verify

[2015-04-17 17:06] bomberaya commented on #134
@KuchelD Placeholders removed in v2.1.9

[2015-04-24 10:05] KuchelD commented on #90
Hi,

I'm integrating Paypal in my Android app and I see the same message listed in the screen shot above ie "Your order did not properly connect etc".

I can see the order in PayPal Sandbox was received OK, and the Print.io Staging Server also receives the order OK with the order in the PrePayment status.

Basically same problem.

I am testing the new app in Staging Mode with my staging key and my

[2015-04-24 11:04] KuchelD commented on #90
I assume this problem could related to the PayPal Sandbox Instant Payment Notification URL?

My test PayPal account currently has IPN disabled.  To enable this feature, I need to enter a 'Notification URL' used by PIO.

I could not see this IPN URL mentioned in the doco. DO you use IPN in the app and if so what is the URL?

[2015-04-24 16:19] AustenB commented on #90
David,

I believe this is as far as the staging environment will allow. If you get
to this step than it is working - and you should test with a live order in
production. You can always cancel the order as well.

Best,

Austen

On Fri, Apr 24, 2015 at 7:04 AM, David Kuchel <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-04-30 12:14] Ivan1985 commented on #127
Verified: 2.1.12

@bomberaya @mkontic @AustenB

[2015-04-30 12:29] #127 closed

[2015-04-30 12:50] bomberaya commented on #35
This has been implemented some time ago. Closing...

[2015-04-30 12:50] #35 closed

[2015-04-30 12:56] bomberaya commented on #62
Implemented; Closing issue...

[2015-04-30 12:56] #62 closed

[2015-04-30 12:56] #111 closed

[2015-04-30 19:20] itscam opened #137 "Medium enhancement: Communicate to cellular users that loading times will be much longer"
While building products over a cellular connection, I have experienced wait-times up to three minutes. These can take as little as 15-20 seconds when using a fast wi-fi connection. Can we make a note of this in the loading box?

Something like "Loading... please note that loading times may vary based on connection."  or Loading... Wi-fi connection recommended."

[2015-05-06 17:24] itscam opened #138 "Medium: Portrait image rotation issues for Flickr source"
Newest SDK, on production, all devices

When importing images from Flickr, I noticed that some images were not rotated correctly. The test uses images taken at the four major orientations from 0-270 degrees. Compare the following screenshots with the same Flickr images on Android and iOS, and notice that the portrait images were rotated incorrectly.

![screenshot_2015-05-06-11-04-04](https://cloud

[2015-05-06 17:26] itscam opened #139 "Low/Medium: Thumbnail quality from Dropbox"
Newest SDK, on production, all devices.

Is it possible to grab a higher-quality thumbnail from the Dropbox source? The current thumbnail type is very low resolution.

![screenshot_2015-05-06-11-23-52](https://cloud.githubusercontent.com/assets/8051364/7499102/b1e367aa-f3e2-11e4-850e-946e00bba6be.png)

[2015-05-06 17:47] vladopajic commented on #139
Hey @itscam,

Yes it is. We will increase size of thumbnails in next release.

[2015-05-06 17:57] itscam commented on #139
Thanks @vladopajic

[2015-05-09 09:51] vladopajic commented on #137
@itscam Could you be more specific in which places you have experienced long wait times?

On product building screens (choosing build options) all loadings should not last longer then a few seconds regardless of connectivity type.
Places where link speed will make difference are when full size photos are being downloaded (on customization screens) and when photos are being uploaded (when sending o

[2015-05-09 11:42] vladopajic commented on #138
@itscam Fixed in 2.2.2, please verify.

[2015-05-09 11:43] vladopajic commented on #122
@itscam Fixed in 2.2.2, please verify.

[2015-05-11 11:15] vladopajic commented on #139
@itscam Fixed in 2.2.2, please verify.

[2015-05-11 16:53] itscam commented on #137
@vladopajic As you noted, the product customization screen while loading images, and when uploading images when sending order. Both of these can take several minutes when uploading over a cellular network.

[2015-05-26 10:06] vladopajic commented on #136
Fixed in: 2.2.10

[2015-06-01 16:23] stefanbognar opened #140 "Product Preview does not match the Preview at 100%"
3 out of 5 images in the mosaic are zoomed in too much

Order link:
https://admin-v2.print.io/Home#/orders/198428/summary

[2015-06-03 16:15] bomberaya commented on #140
Fixed: 2.2.13

[2015-06-07 07:47] jovana-kovacevic opened #141 "Address validation issue"
We have a customer who tried to place the order using Samsung Galaxy s6 and she is unable to do it because she is getting a message that the address is not validated.
I asked about the app version she's using, but she's not sure, and she is also unsure of the image sizes she tried to upload.
She sent us one screen shot, please find it attached, but from the screen shot I can't really see the issue

[2015-06-07 16:06] vladopajic commented on #141
On android side we cant do much. She cant proceed because entered address is not valid - judged by our service. (https://staging.api.print.io/api/addressvalidation/?line1=405+4th+Lane&city=Greenacres&state=FL&postalCode=33463&countryCode=US&recipeid=00000000-0000-0000-0000-000000000000)

However, if address is valid then there is bug on server side.

[2015-06-07 16:57] AustenB commented on #141
Tell her to try a different address and then to message us to change it
On Jun 7, 2015 3:47 AM, "jovana-kovacevic" <notifications@github.com> wrote:

[2015-06-09 21:38] WinRisner opened #142 "Partner David Jones having issues with Android SDK"
Hi all,

One of our partners has been having using the Android SDK with Android Studio.

"All the instructions you guys presented to me offer solutions for Eclipse only. I do not use Eclipse for development. Android Studio is the approved solution for Android development from Google now.

1. When hitting the devices back button on most of the PrintIO pages, I get a crash message. The application d

[2015-06-10 08:41] bomberaya commented on #142
Hi @WinRisner,

We are planning to switch to Android Studio soon.
Until then, is the partner able to provide some more detailed info (log messages, perhaps) about those crashes and checkout process?

Thanks

[2015-06-11 18:07] WinRisner commented on #142
@bomberaya

Github won't let me upload the partners file as it is .RTF. I've sent you a slack message with the actual report.

The GitHub repo for his project is set to Private.  If we need access to resolve this issue we can get it from him.

Please find the errors he is seeing below

1st error in stack - happens when using the back button
2nd error in stack - happens when submitting a credit car

[2015-06-15 09:45] mkontic commented on #142
@bomberaya any updates on this?

[2015-06-15 17:08] bomberaya commented on #142
@mkontic Can you please check which Facebook SDK version is client using?

Also, ask them to use the latest version of the PrintIO SDK (released few days ago) and check if the other two issues persist (there are three issues and first one is related to the Facebook SDK).

Thanks :)

[2015-06-22 18:26] WinRisner commented on #142
Here is an update from the Customer

I add in the updated SDK.  Like it is, it still didn't fix the purchase problems.

So...I removed the file dependencies for you included jar files:
aws-android-sdk-1.7.0-cor.jar
aws-android-sdk-1.7.0-s3.jar

I added Maven library dependencies for:
com.amazonaws:aws-android-sdk-s3:2.2.2
com.amazonaws:aws-android-sdk-pom:2.2.2

With those changes I get much furth

[2015-06-25 15:27] WinRisner commented on #142
@bomberaya Bojan,Any update?

[2015-06-25 15:44] bomberaya commented on #142
@WinRisner Win, please let me know if the partner has integrated the latest version of our SDK (2.3.0a at this point).
PrintIO SDK v2.3.0a is using the latest Facebook SDK, so the Facebook Session issue should not be occuring in it.

Regarding the error message from Braintree, maybe @micahasmith can tell us more about it?

The link for *SDK Customization per screen* currently goes to a "Under Cons

[2015-06-26 10:30] vladopajic commented on #142
@WinRisner, @bomberaya

Just checked. Credit card validation rules inside Android SDK are not correctly implemented. I will fix that (today) and squeeze it in next release which is planed on Monday (most likely).
That build will also include Facebook photo source with latest SDK.

In other words, all issue that partner David Jones is experiencing will be fixed in next release.

[2015-06-29 15:06] WinRisner commented on #142
@vladopajic Is the new release still scheduled for today?

[2015-06-29 15:28] vladopajic commented on #142
@WinRisner Waiting on QA for exact confirmation.

[2015-07-01 15:47] AustenB commented on #141
@vladopajic try with her exact address and see if it works. Include screen shot here

[2015-07-01 16:15] wrightcode opened #143 "Crash on Shopping Cart start in v2.3.0a"
In the Photobucket application, after migrating to v2.3.0a, we get a crash when launching the print shop via the shopping cart menu item and when opening our sidebar menu and selecting print shop.

Here is the stack trace.

06-30 09:14:27.270  19624-19624/com.photobucket.android E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.photobucket.android, PID: 19624
    java.lang.RuntimeException:

[2015-07-01 16:53] AustenB commented on #143
Is this going straight to the shopping cart?

Can you email the init code you are running for these buttons specifically?

On Wed, Jul 1, 2015 at 12:15 PM, Jay Wright <notifications@github.com>
wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-07-01 17:26] wrightcode commented on #143
It happens when we start the shopping cart from our sidebar menu or the
shopping cart menu icon.

I've sent the apk and the init code to Bojan.

On Wed, Jul 1, 2015 at 9:53 AM, Austen Bernstein <notifications@github.com>
wrote:

[2015-07-02 00:30] AustenB commented on #143
Sounds good. We will get back to you ASAP.

On Wed, Jul 1, 2015 at 1:26 PM, Jay Wright <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-07-02 10:46] vladopajic commented on #141
@AustenB It does not work. In my previous comment is link with request to our address validation service with her exact address. Please, pay attention to `"IsValid":false` at the beginning of the response.

Screenshot:
![screenshot_2015-07-02-12-41-25](https://cloud.githubusercontent.com/assets/4353513/8475400/025a49f4-20b8-11e5-8163-33c5fdcf5d57.png)

[2015-07-02 11:57] bomberaya commented on #143
@wrightcode Fixed in v2.3.8

[2015-07-27 11:22] jovana-kovacevic commented on #141
Here's one more, please see the attachment.
![address validation](https://cloud.githubusercontent.com/assets/8796232/8904758/6d23f844-3462-11e5-8512-fe856cab885a.png)
He said
"I chose the shipping address from photobuckets drop down menu."

[2015-08-04 15:16] jovana-kovacevic commented on #141
Hi guys, any progress on this?
Thank you!
@vladopajic @AustenB

[2015-08-04 15:28] bomberaya commented on #141
Maybe @micahasmith can shed some light on this?

[2015-08-04 15:40] micahasmith commented on #141
if address validation fails, the user should still be able to complete with the bad address.

if we're enforcing that only valid addresses get through, we're going to cut of a ton of customers

[2015-08-04 15:41] AustenB commented on #141
Is Valid = False --> It might depend on the score.

What score is returned from these addresses?

@bomberaya

On Tue, Aug 4, 2015 at 11:28 AM, bomberaya <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-08-04 15:45] bomberaya commented on #141
@AustenB Well in the above example (link provided), we have isValid=false and score=95
[code]

@micahasmith Ok, and what about adresses with score lower than 77?

[2015-08-04 16:07] AustenB commented on #141
@bomberaya -> put all addresses through to the next step ... addresses with
scores above 77 change the address to the one the server returns.

Else leave address as it is and continue forward.

It used to be set up this way -> not sure how it changed.

On Tue, Aug 4, 2015 at 11:45 AM, bomberaya <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
printio

[2015-08-05 11:35] vladopajic commented on #141
It's fixed. Fix will be available in following release.

[2015-08-06 08:49] bomberaya commented on #142
@WinRisner New version has been released yesterday, please let partner know. Thanks! :)

[2015-08-20 15:54] #130 closed

[2015-08-27 16:18] rughvi opened #144 "App crashes during payment"
Hi team,
I downloaded the ANDROID SDK and added as a module to a project in android studio.
I set country as UK and then choose product as Metal Magnets and choose some local photos.
Added the product to the basket and in checkout entered my shipping details and during payment I chose PAY WITH CARD and after entering the card details clicked PAY which resulted in app crash.
The error in the consol

[2015-08-27 16:24] AustenB commented on #144
Were you in the staging environment?

Payments in staging require test card info & might not work from simulator.

On Thu, Aug 27, 2015 at 12:18 PM, rughvi <notifications@github.com> wrote:

--
Austen Bernstein
Founder & CEO
makeable

[2015-08-27 16:26] bomberaya commented on #144
@rughvi Have you set your Braintree Encryption Key, as noted in Minimal Configuration here?
https://github.com/printdotio/printio-android-sdk/blob/master/docs/QUICK_START_CODE.md#minimal-configuration

[2015-08-28 08:03] rughvi commented on #144
@AustenB - I am using STAGING environment and on an android phone (not simulator). I am using a CITI CARD (visa) that has no more funds in it.

@bomberaya - I am setting the EncryptionKey as shown below

private void initSdkMode(boolean isLive) {
        config.setLiveApplication(isLive);

        String recipeId;
        String braintreeEncryptionKey;
        String payPalClientId;
        if (is

[2015-08-28 08:37] rughvi commented on #144
@AustenB - can you provide test card details please.

Ta.

[2015-08-28 14:22] bomberaya commented on #144
@rughvi Is the Amazon AWS library added to the project?
aws-android-sdk-1.7.0-s3.jar

[2015-09-01 08:03] rughvi commented on #144
@bomberaya - my gradle has got the references to AWS jars.

dependencies {
    compile 'com.facebook.android:facebook-android-sdk:4.2.+'
    compile 'com.google.code.gson:gson:2.2.4'
    compile files('libs/aws-android-sdk.1.7.0-core.jar')
    compile files('libs/aws-android-sdk.1.7.0-s3.jar')
    compile files('libs/bugsense-3.5.jar')
    compile files('libs/braintree-android-encryption-1.0.0.jar

[2015-09-01 08:11] rughvi commented on #144
@AustenB  - the card I am using is a CITI VISA from Nikon given to me as a cashback.
There are no funds in that card.

Can I have your mail Id so that I can drop you the card details confidentially.

[2015-09-01 08:43] AustenB commented on #144
Staging requires test credentials from braintree.

4111111111111111

You can test with the above number for an amount under 1999
On Sep 1, 2015 11:11 AM, "rughvi" <notifications@github.com> wrote:

[2015-09-01 08:48] bomberaya commented on #144
@rughvi Try doing a `gradle clean` (on Windows) or `./gradlew clean' (on Mac)

[2015-09-01 10:07] rughvi commented on #144
@AustenB - I tried with the test card you have provided
Card No : 4111-1111-1111-1111
Expiry 06-2016
CVV : 001

Still getting the same exception.

[2015-09-01 11:07] AustenB commented on #144
How much is the order for

.what country are you trying

What is the exact exemption

Email your initialization code to bojan@print.io and austen@print.io
On Sep 1, 2015 1:07 PM, "rughvi" <notifications@github.com> wrote:

[2015-09-01 11:27] bomberaya commented on #144
This is not related to credit card, initialization code nor the order itself.
This has something to do with your project setup.
Have you tried performing gradle clean outside of Android Studio (using terminal/command prompt)?

[2015-09-01 11:29] #131 closed

[2015-09-01 11:30] #110 closed

[2015-09-01 11:30] #115 closed

[2015-09-01 11:31] #119 closed

[2015-09-01 11:31] #140 closed

[2015-09-01 11:31] #136 closed

[2015-09-01 11:32] #93 closed

[2015-09-01 11:32] #125 closed

[2015-09-01 11:32] #85 closed

[2015-09-01 11:33] #90 closed

[2015-09-01 11:34] vladopajic commented on #144
@rughvi Hey Venkat,

Please, try this. In `build.gradle` file of your imported `printio` module change dependencies  to look like this:

[code]

Regards,
Vlado

[2015-09-01 11:36] #69 closed

[2015-09-01 11:36] #92 closed

[2015-09-01 11:36] #97 closed

[2015-09-01 11:37] #98 closed

[2015-09-01 11:37] #103 closed

[2015-09-01 11:37] #112 closed

[2015-09-01 11:38] #114 closed

[2015-09-01 11:38] #122 closed

[2015-09-01 11:39] #124 closed

[2015-09-01 11:39] #129 closed

[2015-09-01 11:39] rughvi commented on #144
@bomberaya  - done a ./gradlew clean from terminal
It did not help much.

[2015-09-01 11:39] #132 closed

[2015-09-01 11:43] bomberaya commented on #144
@rughvi Which is the lowest Android SDK version that your application supports? It should not be lower than 10 (Android 2.3.3)

[2015-09-01 11:44] rughvi commented on #144
@vladopajic - yuppie. changing the dependencies as you mentioned fixed the payment issue.
PS : Before this I have done a './gradlew clean'.
Thanks.

[2015-09-01 11:45] #144 closed

[2015-09-01 11:51] #133 closed

[2015-09-01 11:52] #134 closed

[2015-09-01 11:52] #138 closed

[2015-09-01 11:52] #139 closed

[2015-09-01 12:01] #141 closed

[2015-09-01 12:01] #143 closed

[2015-09-04 08:10] rughvi opened #145 "Configuring new photo source"
Hi team,
Is there a way I can configure AZURE STORAGE as a photo source in the SDK?
Regards,
Venkat V R

[2015-09-04 12:05] vladopajic commented on #145
Hey Venkat,

Yeah, that is possible. We allow SDK users to create there own photo source(s). This [doc](https://github.com/printdotio/printio-android-sdk/blob/master/docs/CUSTOM_PHOTO_SOURCES.md) should be helpful to get you started.

Regards,
Vlado

[2015-09-07 14:31] rughvi opened #146 "Products for UK appear to be SOON in staging mode"
Hi team,
With the android sample app from github and for
environment : STAGING
country : UK
there are only 5 products that can be ordered. Remaining others are coming SOON.

But with the below settings
environment : Production
country : UK
none of the products are coming SOON. All of them are ready to be ordered.

I would like to know for UK which products are ready for ordering.
(On other note my

[2015-09-07 14:32] bomberaya commented on #146
@rughvi This is a temporary issue on our side. It will be fixed today.

[2015-09-07 14:36] rughvi commented on #146
@bomberaya - thanks. Let me know when this gets fixed.
I presume all the products that are being displayed for UK in PRODUCTION environment are available for ordering.

[2015-09-07 14:39] bomberaya commented on #146
@rughvi I will let you know. Yes, that is true.

[2015-09-22 10:31] jovana-kovacevic opened #147 "Problem with the app - Photobucket"
Hi guys!

Could you please see below and advise:
"I tried to use you 80% off coupon code yesterday and I wasn't able to. I followed the link in my email, it took me to your website, and it simply says the print shop can now be accessed from your app . So I downloaded the app and tried to create my canvas print, and got a failure notice. I'm sending a screenshot to show you. I keep getting this fai

[2015-09-22 11:45] vladopajic commented on #147
Hello Jovana,

This message simply means that Photobucket's photo source is temporarily unavailable. Unavailability of photo source is caused due to Photobuckets API. Other photo sources should function correctly (Phone, Facebook, etc...).

Unfortunately, we cant assist Maggie, I assume, much in this case. She can try to use photos from other sources until Photobucket's photo sources starts functi

[2015-09-22 12:00] jovana-kovacevic commented on #147
Hi Vlado!

Thanks, I'll let her know!

Best,
Jovana

[2015-10-06 16:25] bomberaya commented on #146
@rughvi Please let us know if this is no longer an issue, so we can close the ticket. Thanks :)

[2015-10-19 19:00] Debysh opened #148 "App lets you select more than required images - Keepy"
Steps to reproduce:
Select type of product Canvas Mini - "Create it" > select size > select 2 items
Expected Result: User should be able to select only 1 item (as appropriate for the selected product) -

[2015-10-19 19:09] Debysh opened #149 "Crash - after editing items, and tapping from shopping cart - Keepy"
Short description: Crash after editing items, saving to shoppingcart and tapping from shopping cart (was able to reproduce with magnets and coasters, should be tested with additional products). Testing using Android 4.4.4
Steps to reproduce:
1. Select > Metal Magnets product > Create it
2. Select 2 items > "next"
3. double tap > zoom > save (first item)
4. double tap > rotate > save (second item)

[2015-10-19 20:08] tobiasfrier commented on #148
@Debysh thanks for bring this to our attention. We will get to it.

[2015-10-19 20:17] tobiasfrier commented on #149
@Debysh We will be trying to reproduce this on Android 4.4.4 as well as other versions. I was unable to reproduce this on a Galaxy S5 running Android 5.0

[2015-10-19 20:25] Debysh opened #150 "Crash after selecting "pay with paypal" option - Keepy"
Tested qith Android 4.4.4 - no paypal app installed in device
Short description:
1. after adding product to shopping cart > "Check out"
2. Enter shipping details > select adress
3. Select "Pay with Paypal" option

[2015-10-20 11:11] vladopajic commented on #148
Hello @Debysh,

Actually, it is not expected result. We intentionally allow user to select more photos that layout could support. This is because we want to reduce navigation between select images screen and product customization screen. One case is that user could have similar photos and he wants to choose one but he is not sure what photo will suit the layout more.

Regards,
Vlado

[2015-10-20 11:19] vladopajic commented on #150
Hello @Debysh,

Could you supply us with crash log?

Thanks,
Vlado

[2015-10-20 11:21] vladopajic commented on #149
Hello @Debysh,

Could you supply us with crash log and version of used SDK?

Thanks,
Vlado

[2015-10-20 11:24] ivankovicmilos commented on #149
Hi, @Debysh

I tried to reproduce this crash on my devices (Nexus 5, Samsung S5 and HTC One X) and I could not recreate it.
Can you send us which devices are used for testing and inicialization code?

Thanks,
Milos

[2015-10-20 16:56] Debysh commented on #150
Hi Vlado,
It seems this one was coming from our end - it was fixed with our following apk. Sorry to bother you on this.
Deby

[2015-10-20 17:05] Debysh commented on #148
Thanks for the clarification Vlado,

Deby

[2015-10-20 17:56] Debysh commented on #149
Hi Milos, Vlado and Tobias,

I am able to reproduce this crash only on Nexus 4, running Android 4.4.4.
I have a log file that I tried to attach here - but I got : "Attaching documents requires write permission to this repository" message - please advise.
Deby

[2015-10-20 18:14] ivankovicmilos commented on #149
@Debysh

You can provide log via email. And please, send to us initialization code.

vlado@makeable.com, milosi@makeable.com, tobias@makeable.com

[2015-10-20 18:36] #150 closed

[2015-10-20 18:37] #148 closed

[2015-10-21 18:02] dusanvita opened #151 "NullPointerException: java.lang.String print.io.beans.Country.getCode()"
Hi everyone, we just published the app with print.io included and got 4 crashes from 4 users already:

java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String print.io.beans.Country.getCode()' on a null object reference
       at uyzx.a()
       at print.io.ActivityProducts$5.run()
       at java.lang.Thread.run(Thread.java:818)

2 Samsung (SM G361F and SM G920F)
2 Sony

[2015-10-21 18:05] dusanvita opened #152 "IllegalStateException"
Hi everyone, another issue:

java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
       at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1500)
       at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1518)
       at android.support.v4.app.BackStackRecord.commitInternal(BackStackRecord.java:634)

[2015-10-22 09:28] vladopajic commented on #151
Hello @dusanvita,

What version of SDK is used? Could you give us the line number where this NullPointerException is thrown?

Thanks,
Vlado

[2015-10-22 09:34] vladopajic commented on #152
Hello @dusanvita,

What version of SDK is used?

Thanks,
Vlado

[2015-10-22 12:11] dusanvita commented on #151
Hi @vladopajic,
the one available on the github now (3.0.4)
If you need anything else, feel free to ask.

[2015-10-30 22:38] dusanvita opened #153 "Font asset not found"
Fonts offered in the app cannot be found in the files.

[2015-10-30 22:49] dusanvita opened #154 "IllegalStateException"
Version 3.1.0

AndroidRuntime: FATAL EXCEPTION: Thread-747
Process: me.keepy, PID: 10061
java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1500)
at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1518)
at android.support.v4.app.BackStackRecord.commitI

[2015-10-30 23:10] tobiasfrier commented on #154
@dusanvita Thank you for reporting this.

We'll get right now this.

[2015-11-02 08:00] bomberaya commented on #153
@dusanvita Fonts folder needs to be added to the assets folder of the host app.
The folder can be found in our Example app, here: https://github.com/printdotio/printio-android-example/tree/master/PIOSDKPOConcept/assets

Sorry, this is not properly documented.
We will make sure to add it to the documentation.

[2015-11-02 08:07] bomberaya commented on #154
@dusanvita Any steps to reproduce this?

[2015-11-03 03:05] dusanvita commented on #153
@bomberaya Cool, I got them! Thanks!

[2015-11-03 03:06] #153 closed

[2015-11-03 03:09] dusanvita commented on #154
@bomberaya well, I can't really say, it just happened once on this particular screen, you may find a clue in SuperActivityCustomize, and since it's an "onSaveInstanceState" might be by putting the app in background or something like that, but it's not the first time or place for IllegalStateException to occur, there's also one more bug I reported with the version 3.0.4.

[2015-11-03 10:56] bomberaya commented on #151
@dusanvita Let us know if this keeps happening with the latest version (3.1.0)

[2015-11-03 11:02] #147 closed

[2015-11-03 11:02] #146 closed

[2015-11-03 11:02] #142 closed

[2015-11-03 11:03] #145 closed

[2015-11-03 11:04] bomberaya commented on #137
Additional message is shown in Progress Dialog if network speed falls below a certain threshold.

[2015-11-03 11:04] #137 closed

[2015-11-06 19:06] dusanvita opened #155 "NullPointerException"
[code]

[2015-11-06 19:09] dusanvita opened #156 "NullPointerException - PayPal"
Caused by java.lang.NullPointerException
       at com.paypal.android.sdk.payments.LoginActivity.onCreate(Unknown Source)
       at android.app.Activity.performCreate(Activity.java:5104)
       at android.app.Instrumentation.callActivityOnCreate(Instrumentation.java:1080)
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2144)
       at android.app.ActivityThread.handl

[2015-11-06 22:21] dusanvita commented on #151
@bomberaya still happening in version 3.1.0...

[2015-11-27 13:04] tamaratomovski opened #157 "Hellopics customer - address validation failed"
Hi guys!

We have a Hellopics customer who keeps getting the 'Address validation failed' warning when trying to place the order.

She has a Note 3 phone and here is the shipping address:

barbara head
514 mccrary dr
morristown tenn 37814

She uninstalled and installed the app back again and it is still showing this warning.

Could you please look into this?

Thanks,
Tamara

@bomberaya @Ivan1985

!

[2015-11-27 13:20] bomberaya commented on #157
Hi @tamaratomovski

This issue has been resolved in PIO SDK v3.0.1
but we still haven't updated HelloPics app with the latest version :(

Take a look at this (same) issue:
https://github.com/printdotio/printio-android-sdk/issues/141

Is it possible to do what Austen suggested there:
"Tell her to try a different address and then to message us to change it"

[2015-11-27 13:23] tamaratomovski commented on #157
Hi @bomberaya

I'll suggest it to her and see how it goes from there.

Thanks! :)

[2015-12-02 12:18] #157 closed

[2015-12-02 12:28] vladopajic commented on #152
Fixed in v3.1.15.

[2015-12-03 14:49] vladopajic commented on #151
Fixed in v3.1.19.

[2015-12-09 15:58] bomberaya commented on #39
Issue too old. Closing.

[2015-12-09 15:58] #39 closed

[2015-12-11 14:52] mkontic opened #158 "Address validation failed - Hellopics app"
"I'm trying to order prints and ship it to my home, but I'm getting an error about it failing validation. I'm quite sure my address is correct.
I'm using the android app to sent my digital prints from dropbox. My shipping address is 4628 Demaree Ct, Henrico Va 23231."

![screenshot_2015-12-09-15-22-17](https://cloud.githubusercontent.com/assets/10849553/11746613/2f248030-a01f-11e5-9af2-9bde4a52602

[2015-12-11 16:30] vladopajic commented on #158
This issue has been fixed in v3.0.1.

[2015-12-11 16:30] #158 closed

[2015-12-23 10:41] bomberaya commented on #156
This is a crash in PayPal SDK. Closing...

[2015-12-23 10:41] #156 closed

[2015-12-23 10:43] bomberaya commented on #149
Fixed in v3.1.27

[2015-12-23 10:43] #149 closed

[2015-12-25 03:22] #152 closed

[2015-12-25 03:23] #151 closed

[2016-01-07 19:25] tobiasfrier commented on #94
@itscam I have added this to our backlog for both mobile platforms.

[2016-01-14 20:40] kristinahavlovic opened #159 "Smudged image on the blanket"
Hi,

Could you please look into this? The customer complained that one of the images on the blanket was smudged. It looks the same on our preview. I opened the original image and it looks like it's a gif, but it's actually a .jpg file.

Photo of the product:
![20160113_105911 1](https://cloud.githubusercontent.com/assets/15343538/12336872/18c959a2-bb07-11e5-874a-5450ecf1a83f.jpg)

preview - http:/

[2016-01-15 12:37] bomberaya commented on #159
@kristinahavlovic The image is actually a GIF, although its name falsely suggests that it is a JPEG.
You can easily tell, because the image is animated, and JPEGs cannot be animated.

This is something that should be handled by our serverside image processing service.
@micahasmith, please advise...

[2016-01-15 13:09] kristinahavlovic commented on #159
@bomberaya Thanks for letting me know. I know it's a gif, but the .jpeg part was a bit confusing, so I had to ask.
Thanks again!

[2016-01-15 13:11] bomberaya commented on #159
@kristinahavlovic It's totally ok to ask! Let's wait and see what Micah has to say.

[2016-02-16 15:33] kristinahavlovic opened #160 "Quantity issue with 4x6 prints"
Hi guys,

A customer placed two orders for 210 different prints, each in qty of 1, but received 8 different photos in large quantities. The issue is that when you look in the Images tab in Admin, you can see all of the 210 different photos, but in Summary tab only 8 of them are shown, each in random quantity (25, 42, 53 etc)

Here are the orders:
https://admin.print.io/#/orders/398880/summary
http

[2016-02-17 08:12] Ivan1985 commented on #160
@kristinahavlovic I'll try to recreate this issue and after that I can give you more info

[2016-02-17 11:40] bomberaya commented on #160
@kristinahavlovic This seems like a vendor/integration issue. If you look at the orders, the customer's shopping cart had 8 items with different number of prints, and the vendor only printed the first print of each item (as many times as there are prints in the item).
@stevanjoncic Can you take a look at this?

[2016-02-17 13:37] Ivan1985 commented on #160
@kristinahavlovic @bomberaya @micahasmith @tobiasfrier  I couldn't recreate this issue, I tried to recreate it on few versions of SDK (3.1.7, 3.1.22, 3.1.28 and 3.1.39). I tried with lot of use cases with different photo sources and nothing happened, everything works normal/good.

[2016-02-17 15:04] mkontic commented on #160
Hi guys, I think that we already had the same issue a few months ago. It was the old version of the app and somehow different images were "grouped" under one item. Not sure how, but I think this was our bug.

[2016-02-17 15:16] bomberaya commented on #160
@mkontic Yes, but we are unable to reproduce this on any builds that Ivan mentioned (and these include the exact version that this order was made with). We are not sure how the customer managed to produce this order...

[2016-02-17 15:25] mkontic commented on #160
So, if I understood correctly, we don't know what the bug is or how to fix it, right? :)

[2016-02-17 15:38] bomberaya commented on #160
You understood correctly :) We can investigate some more, but being unable to actually reproduce the issue using the exact same version, we can't really be sure that we fixed it...

As far as the customer is concerned, I'm sure you can modify the order manually to produce the wanted order and ship it to the customer, correct?

[2016-02-17 15:50] mkontic commented on #160
Unfortunately, we can't. Submitting new, corrected order would mean that we need to download 210 images that customer submitted and place the new order. However, we can easily create a coupon for customer to place new order and advise him to use website or update the app. From what I can remember, this issue was connected only to android 118 version (not sure how you call it). I think it was fixed

[2016-02-17 15:56] bomberaya commented on #160
I understand :/

You can see the exact version of the PIO SDK in the order summary, under Meta Info (in this case SDKVersion: 3.1.22).
It is the latest HelloPics version available.

But take a look at the order that I just made using the exact same version of HelloPics:
https://admin.print.io/#/orders/405064/summary

In it, each photo is its own item (and I intentionally changed the quantity of th

[2016-02-17 17:43] mkontic commented on #160
Yeah, I have no idea why is it happening sometimes. Have you tried adding images in "batches". For example, add 20 images, choose the size then go back and add 15 more? Because I can't find any logic explanation why and how images get grouped together..

[2016-02-19 18:11] eicm opened #161 "-"

[2016-02-20 03:15] tobiasfrier commented on #161
Hello @eicm

Thanks for bringing this to matter our attention. We will look into this ASAP.

[2016-03-08 10:22] #161 closed

[2016-03-08 10:24] vladopajic commented on #94
Fixed in: 3.1.39

[2016-03-08 10:25] #94 closed

[2016-03-26 01:16] dusanvita opened #162 "Like button on products page: IllegalStateException: Could not execute method for android:onClick"
Tested on v3.1.28 but also existed in the versions before. Occurs on any tested phone and is reproducible with Keepy v2.92.0g available on the play store.

java.lang.IllegalStateException: Could not execute method for android:onClick
  at android.view.View$DeclaredOnClickListener.onClick(View.java:4452)
  at android.view.View.performClick(View.java:5198)
  at android.view.View$PerformClick.run(Vie

[2016-03-26 11:05] bomberaya commented on #162
Have you set the Facebook Page URL?
Use the `PIOConfig.setFacebookPageUrl(String url)` method.
I now see that it is missing from the documentation and it will be added soon.
Thanks

[2016-03-26 11:13] bomberaya commented on #162
@dusanvita Also try using the latest version from develop branch which was just updated.

[2016-04-01 16:35] jovana-kovacevic opened #163 "Samsung PB - generating images"
Hi guys!

Could you please review this order and let us know why most of the images weren't generated properly?
https://www.gooten.com/admin#/orders/430613/summary

Thanks!

[2016-04-07 19:13] shanestaples opened #164 "Illegal state exception in PIO.setConfig()"
Currently, the two highest occuring crash for our app in Crashlytics are inside the PIO.setConfig() method.  Below is the relevant portion of the two obfuscated logs, collected by Crashlytics.  We're currently integrating version 3.2.2 of the PrintIO Android SDK.
[code]
[code]

The crash distribution is as follows (for the highest occurring crash):
DEVICES:
73% Samsung
14% LGE
8% Motorola
5% Other

[2016-04-15 08:17] bomberaya commented on #164
Hi Shane, can you tell me which version of the SDK is producing these crashes?
This stack trace does not correspond to version 3.2.2 but to some older version,
and it is possible that the issue has been resolved already.
If you know the version used there, please let me know.

Thanks

[2016-04-15 18:04] shanestaples commented on #164
@bomberaya Apologies, you are correct, I misread the merge history and release dates previously.  The version corresponding to those logs should be v3.1.32.  Can you please confirm whether this has been fixed in the most recent version of the SDK?  Thanks!

[2016-04-17 12:21] jovana-kovacevic commented on #163
Hi guys!
We have one more order where images weren't generated properly, please see below and advise:
https://www.gooten.com/admin#/orders/438395/summary

Thank you!

[2016-04-17 13:23] bomberaya commented on #163
Hi Jovana,

I have noted the bug and will investigate (I see the error in the imgmanip
string),
but this order was made by an older version of our SDK (3.1.16 - pre
release version) and the issue could be already fixed in more recent
versions.

We already had similar issue reports for this version.

Cheers,
Bojan
On Apr 17, 2016 14:21, "jovana-kovacevic" <notifications@github.com> wrote:

[2016-04-17 13:25] jovana-kovacevic commented on #163
Hi Bojan!
Thank you for looking into it!
Can we fix this order, so that the customer wouldn't have to wait, or you need the imgmanip string intact?

[2016-04-17 13:29] bomberaya commented on #163
Feel free to fix the order, don't worry
On Apr 17, 2016 15:25, "jovana-kovacevic" <notifications@github.com> wrote:

[2016-04-17 13:36] jovana-kovacevic commented on #163
Hi Bojan!

Awesome, thanks!

[2016-05-03 15:16] jovana-kovacevic opened #165 "Incorrectly generated images - order 451388"
Hi guys!

We have an order where about 14 4x6 prints were generated incorrectly. The required size is 1800x1200 px and the generated images are 1200x1200 px.
The remaining images (169 of them) were generated properly.
Could you please look into this?

https://www.gooten.com/admin#/orders/451388/summary

Thanks!

[2016-05-03 15:59] bomberaya commented on #165
@MilanDavid @stevanjoncic Were there any recent changes to the templates for "Print-Lustre-4x6"?
Generated image size is determined only by the data received from server.

[2016-05-06 15:07] jovana-kovacevic commented on #163
Hi guys!
Just to check, has this issue been resolved?
Thank you!

[2016-05-08 13:33] jovana-kovacevic commented on #165
Hi guys!
We fixed the images manually and pushed them to print, but could you please look into it?
Thank you!

[2016-05-08 13:39] bomberaya commented on #165
Hi Jovana,

We'll take a look at the issue. Thanks :)
On May 8, 2016 15:33, "jovana-kovacevic" <notifications@github.com> wrote:

[2016-05-09 10:39] bomberaya commented on #165
This seems like a serverside issue. Image sizes are defined by data from server. If the data is incorrect, generated images will also be incorrect.

[2016-05-11 14:42] ivankovicmilos commented on #163
@jovana-kovacevic we found what is the problem. will be fixed in next release

[2016-06-03 10:15] vladopajic commented on #154
Hello @dusanvita,

All `IllegalStateException` that have occurred so far should be fixed. Please, integrate latest SDK (v3.3.0) and report back to us if you find new crashes.

Thanks,
Vlado

[2016-06-03 10:15] #154 closed

[2016-06-03 10:16] #162 closed

[2016-06-08 12:11] #165 closed

[2016-06-30 12:25] Grievoushead opened #166 "Issue"

[2016-06-30 12:28] #166 closed

[2017-10-23 06:37] haroon91 opened #167 "Gooten SDK as a cordova plugin build fail"
I am trying to integrate Gooten Android SDK into my ionic project as a `CordovaPlugin`. My plugin gradle file is as follows:

[code]

However whenever i try to build my ionic project i get the following error:
[code]

[2017-10-23 07:30] haroon91 commented on #167
Can be resolved by moving the `exclude group` lines to `build-extras.gradle` as follows:
[code]

[2017-10-23 07:30] #167 closed, assigned to nobody

[2018-09-27 12:02] nzinyangwa commented on #162
I new learner in android development during runtime of my app i got this error
java.lang.IllegalStateException: Could not execute method for android:onClick
Here is my class backgroundWorker.java code
Where trying  to trace the error from logcat shows me that the problem might be in onPreExecute()
package com.example.innocent.myphpapp;

import android.app.AlertDialog;
import android.content.Contex

[2018-09-27 12:46] bomberaya commented on #162
Hi @nzinyangwa, welcome to GitHub :)

I recommend that you start your search at https://stackoverflow.com,
as this (GitHub) is not a site for Questions and Answers.

Try looking there and I'm sure you will find your answer.

On a quick look, your issue might be that the `context` in your `backgroundWorker` is null,
or that the issue is not in that class at all, but you should look at the onClick()